.sponsor-container{
    width: 100vw;
    margin-top: 10rem;
    border-bottom: .1rem solid  #2135471c;
    padding-bottom: 5rem;
    overflow: hidden;
}

.sponsor-wrapper{

    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spon-icon{

    font-size: 2.8rem;
    color: #7c7c7cb4;
    text-align: center;

}
.spon-icon p{

    font-size: 1.6rem;
}


.sponsor-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
}

.empty-sponsor{
    display: none;
}
.empty-sponsor-gold{
    display: none;
}
.empty-sponsor-gold1{
    display: none;
}

.plati-spon{

    background: #F9F9F9;
    width: 90vw;
    text-align: center;
    padding: 1.4rem 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    
}

.plati-spon h2{
    font-size: 1.5rem;
    font-weight: 450;
}

.plati-container{

    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.sponsor-icons{
    width: 90vw;
    background: #F9F9F9;
    padding: 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    filter: grayscale(100%);
    
    
    
    
}
.sponsor-icons img{
   
    height: 5rem;
    object-fit: cover;
    
    
}

.sponsor-icons:hover{

    filter: grayscale(0);
    background: rgba(170, 170, 170, 0.192);
}


.gold-spon{
    background: #F9F9F9;
    width: 90vw;
    text-align: center;
    padding: 1.4rem 0;
    text-align: center;
}

.gold-spon h3{

    font-size: 1.5rem;
    color: #7c7c7cb4;
    font-weight: 450;
}

.gold-sponsors-container{

   display: grid;
   place-items: center;
   justify-content: center;
   align-items: center;
    gap: .5rem;
}

.gold-spon-icons{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90vw;
    background: #F9F9F9;
    padding: 5rem;
    filter: grayscale(100%);
    
}


.gold-spon-icons img{
    
    height: 3rem;
    object-fit: cover;
}

.gold-spon-icons:hover{

    filter: grayscale(0);
    background: rgba(170, 170, 170, 0.192);
}


.sponsor-btn{
    margin-top: 5rem;
    text-align: center;
}

.spon-btn{

    background: transparent;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-size: 1.3rem;
    border: .1rem solid  #86878896;
    color: #868686f1;
    font-weight: 600;
}

.spon-btn:hover{

    color:#E85496 ;
    border: .1rem solid  #E85496;
}


@media screen and (min-width:500px) {


    .sponsor-container{
        width: 100vw;
        margin-top: 10rem;
        border-bottom: .1rem solid  #2135471c;
        padding-bottom: 5rem;
        overflow: hidden;
    }
    
    .sponsor-wrapper{
    
        max-width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .spon-icon{
    
        font-size: 2.8rem;
        color: #7c7c7cb4;
        text-align: center;
    
    }
    .spon-icon p{
    
        font-size: 1.6rem;
    }
    
    
    .sponsor-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin-top: 3rem;
    }
    
    .empty-sponsor{
        display: none;
    }
    .empty-sponsor-gold{
        display: none;
    }
    .empty-sponsor-gold1{
        display: none;
    }
    
    .plati-spon{
    
        background: #F9F9F9;
        width: 90vw;
        text-align: center;
        padding: 1.4rem 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        
    }
    
    .plati-spon h2{
        font-size: 1.5rem;
        font-weight: 450;
    }
    
    .plati-container{
    
        display: grid;
        place-items: center;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    
    .sponsor-icons{
        width: 90vw;
        background: #F9F9F9;
        padding: 7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        filter: grayscale(100%);
        
        
        
        
    }
    .sponsor-icons img{
       
        height: 5rem;
        object-fit: cover;
        
        
    }
    
    .sponsor-icons:hover{
    
        filter: grayscale(0);
        background: rgba(170, 170, 170, 0.192);
    }
    
    
    .gold-spon{
        background: #F9F9F9;
        width: 90vw;
        text-align: center;
        padding: 1.4rem 0;
        text-align: center;
    }
    
    .gold-spon h3{
    
        font-size: 1.5rem;
        color: #7c7c7cb4;
        font-weight: 450;
    }
    
    .gold-sponsors-container{
    
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       place-items: center;
       justify-content: center;
       align-items: center;
        gap: .5rem;
    }
    
    .gold-spon-icons{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 44.45vw;
        background: #F9F9F9;
        padding: 5rem;
        filter: grayscale(100%);
        
    }
    
    
    .gold-spon-icons img{
        
        height: 2.4rem;
        object-fit: cover;
    }
    
    .gold-spon-icons:hover{
    
        filter: grayscale(0);
        background: rgba(170, 170, 170, 0.192);
    }
    
    .gold-spon-icons:nth-child(7){
        border-bottom-left-radius: 1.5rem;
    }
    .gold-spon-icons:nth-child(8){
        border-bottom-right-radius: 1.5rem;
    }
    
    .sponsor-btn{
        margin-top: 5rem;
        text-align: center;
    }
    
    .spon-btn{
    
        background: transparent;
        padding: 1rem 2.5rem;
        border-radius: 50px;
        font-size: 1.3rem;
        border: .1rem solid  #86878896;
        color: #868686f1;
        font-weight: 600;
    }
    
    .spon-btn:hover{
    
        color:#E85496 ;
        border: .1rem solid  #E85496;
    }
    
    
    
}

@media screen and (min-width:640px) {

    .plati-container{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .sponsor-icons{
        width:44.7vw;
        background: #F9F9F9;
        padding: 7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: grayscale(100%);
        
        
        
        
    }
    .sponsor-icons img{
       
        height: 4rem;
        object-fit: cover;

    }

    .gold-spon-icons:nth-child(8){
        border-bottom-right-radius: 0;
    }

    .empty-sponsor{
        display: block;
        width:44.6vw;
        background: #F9F9F9;
        padding: 9rem 0;
        border-bottom-right-radius: 1.5rem;
        
    }

    .gold-sponsors-container{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        justify-content: center;
        align-items: center;
         gap: .5rem;
     }
     .gold-spon-icons{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 29.5vw;
        background: #F9F9F9;
        padding: 5rem;
        filter: grayscale(100%);
        
    }
    
    
    .gold-spon-icons img{
        
        height: 2rem;
        object-fit: cover;
    }
    .empty-sponsor-gold{
        display: block;
        width: 29.5vw;
        background: #F9F9F9;
        padding: 6rem;
        border-bottom-right-radius: 1.5rem;
    }
}


@media screen and (min-width:832px) {

    .plati-container{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .sponsor-icons{
        width:29.5vw;
        background: #F9F9F9;
        padding: 7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        filter: grayscale(100%);
        
        
        
        
    }
    .sponsor-icons img{
       
        height: 4rem;
        object-fit: cover;

    }

    .empty-sponsor{
        display: none;
        
    }

    .gold-sponsors-container{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        justify-content: center;
        align-items: center;
         gap: .5rem;
     }
     .gold-spon-icons{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 29.5vw;
        background: #F9F9F9;
        padding: 5rem;
        filter: grayscale(100%);
        
    }
    
    
    .gold-spon-icons img{
        
        height: 2rem;
        object-fit: cover;
    }
    .empty-sponsor-gold{
        display: block;
        width: 29.5vw;
        background: #F9F9F9;
        padding: 6rem;
        border-radius: none;
    }
}


@media screen and (min-width:970px) {

    .plati-spon{

        background: #F9F9F9;
        width: 89.3vw;
        
    }
    .gold-spon{
        background: #F9F9F9;
        width: 89.3vw;
    }
    .gold-sponsors-container{

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        justify-content: center;
        align-items: center;
         gap: .5rem;
     }



     .gold-spon-icons{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 17.6vw;
        background: #F9F9F9;
        padding: 5rem;
        filter: grayscale(100%);
        
    }


    .gold-spon-icons:nth-child(7){
        border-bottom-left-radius: 0;
    }

    .gold-spon-icons:nth-child(6){
        border-bottom-left-radius: 1.5rem;
    }

    .empty-sponsor-gold{
        display: block;
        width: 17.6vw;
        background: #F9F9F9;
        padding: 6rem;
        border-bottom-right-radius: 0;
    }
    
    .empty-sponsor-gold1{
        display: block;
        width: 17.6vw;
        background: #F9F9F9;
        padding: 6rem;
        border-bottom-right-radius: 1.5rem;
    }

}