.footer-container{
    width: 100vw;
    padding: 3rem 0;
}
.footer-wrapper{
    width: 90vw;
    margin: 0 auto;
}

.footer-content{
    display: grid;
    place-items: center;
}

.footer-content p{
    font-size: 1.4rem;
}