.service-container{
    width:100vw;
    overflow: hidden;
    margin-top: 7rem;
}

.service-wrapper{
    max-width:90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-bottom: .1rem solid  #2135471c;
    padding-bottom: 8rem;
    overflow: hidden;
}


.service-content{

    background: #F9F9F9;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    padding: 3rem;
    overflow: hidden;
     
}

.service-icon{

    background: #E5E5E5;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: 2.3rem;

}

.service-text{

    padding-top: 2rem;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}
p{
    font-size: 1.4rem;
    padding-top: 1rem;
}

@media screen and (min-width:500px) {

    .service-container{
        width:100vw;
        overflow: hidden;
        margin-top: -12.6rem;
    }
    
    .service-wrapper{
        max-width:90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        border-bottom: .1rem solid  #2135471c;
        padding-bottom: 10rem;
        overflow: hidden;
    }
    
    
    .service-content{
    
        background: #F9F9F9;
        width: 100%;
        height: 20rem;
        border-radius: 1rem;
        padding: 3rem;
        overflow: hidden;
         
    }
    
    .service-icon{
    
        background: #E5E5E5;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        font-size: 2.3rem;
    
    }
    
    .service-text{
    
        padding-top: 2rem;
    }
    
    h2{
        font-size: 1.8rem;
        font-weight: 600;
    }
    p{
        font-size: 1.4rem;
        padding-top: 1rem;
    }
    

}


@media screen and (min-width:640px) {

    .service-container{
        width:100vw;
        overflow: hidden;
        margin-top: 2rem;
    }
    
    .service-wrapper{
        max-width:90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border-bottom: .1rem solid  #2135471c;
        flex-wrap: wrap;
    }


    .service-content{
        flex: 39%;
        width: 5rem;
        height: 24rem;
        line-height: 2.5rem;
    }

}


@media screen and (min-width:768px) {
    
    .service-wrapper{
        max-width:85vw;
        margin: 0 auto;
    }
    .service-wrapper{
        max-width:90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border-bottom: .1rem solid  #2135471c;
        flex-wrap: wrap;
    }


    .service-content{
        flex: 29%;
        width: 5rem;
        height: 27rem;
        line-height: 2.5rem;
    }
    h2{
        font-size: 1.6rem;
        font-weight: 600;
    }
    p{
        font-size: 1.25rem;
        padding-top: 1rem;
        font-weight: 500;
    }

}


@media screen and (min-width:960px) {
    
    .service-container{
        width:100vw;
        overflow: hidden;
        margin-top: -18rem;
    }

    .service-wrapper{
        max-width:85vw;
        margin: 0 auto;
    }

}