

 /* ............Select Language Section........... */
 .M-lang-dark-social-mobile{

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 73.5vw;
  
 }

 .M-lang-dark-social-mobile .M-language{
    
    font-size: 1.4rem;
    margin-top: 3rem;
    border-bottom: none;
    
}

.M-lang-dark-social-mobile .M-language .M-active{

    display: flex;
    justify-content: left;
    align-items: center;
    gap: .8rem;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}

.M-lang-dark-social-mobile .M-language .M-active p{

   transform: translateY(-.3rem);
    
}

.M-otherslanguage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    margin-left: 2.5rem;
    
}

.M-otherslanguage p:hover{
    color: var(--btn-Color);
}

.M-langicon{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




/* ............End Select Language Section........... */


/* ............DarkMode Button Section........... */


.M-lang-dark-social-mobile .M-appearance{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(249,249,249);
    padding: 1.2rem 1.5rem;
    border-radius: 1rem;
    border-bottom: none;
    
    
}

.M-appear-text{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-.5rem);
    
}

.M-darkmodebtn{
    background: transparent;
    border: .1rem solid #21354760;
    padding:.2rem;
    padding-right: 2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    
}

.M-sun{
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    
    
}
.M-moon{
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    transform: translate(100%, 0%);
  
   
}
/* ............ End DarkMode Button Section........... */




/* ............Social Media Section........... */

.M-lang-dark-social-mobile .M-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.4rem;
    font-size: 2.2rem;

}

.M-twitter, .M-discord, .M-github{
    opacity:.5;
    cursor: pointer;
}

.M-github:hover{
    opacity: 1;
}

.M-twitter:hover{
    opacity: 1;
} 

.M-discord:hover{
    opacity: 1;
} 

/* ............End Social Media Section........... */