/* ............ Nav Lists Section........... */
    
    
.M-nav-list-mobile{
    
       
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 4rem;
    overflow-x: hidden;
    
}

.M-nav-list-mobile .M-navlinks{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2rem;
    
    
}

.M-nav-list-mobile .M-navlinks .M-links{
    border-bottom: .1rem solid  #2135471c;
    padding-bottom: 1rem;
    width: 73.5vw;
    cursor: pointer;
    font-weight: 500;
    
    
}


.M-special-link{
    display: flex;
    align-items: right;
    justify-content: right;
    transform: translateY(-1.5rem);
    overflow: hidden;
    
}




.M-links a:hover{

    color: var(--btn-Color);
}

.M-large-navlist{
    
    display:none;
}

.M-search-button{
    display: none;
}

.M-doticon{
    display: none;
}

.M-nav-list-mobile .M-navlinks .M-resources{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1.5rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    /* padding-bottom: 2rem;
    border-bottom: .1rem solid  #2135471c;
    transform: translateX(20rem); */
 
}



.M-nav-list-mobile .M-navlinks .M-version{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-weight: 400;

}



.M-plus{

 cursor: pointer;
    
    
}
.M-icon{

    font-size: 1rem;
    color: #21354760;
    padding-left: .4rem;
}



/* ............End Nav Lists Section........... */