header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.25);
    overflow: hidden;
    position: sticky;
    z-index: 999;

}



nav{
    width: 100vw;
    border-bottom: .1rem solid  #2135471c;
    padding: .11rem;
    overflow: hidden;
   
}



.logo-image{
    width: 100%;
    height: 2.2rem;
    
}

.navbar{

    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    overflow: hidden;

}

 /* ... Logo and Text  Section.....*/

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;

    
}
.logo-container:hover{

    opacity: .7;
}

.logo-container h2{
    font-size: 1.8rem;
    font-weight: 500;
}

 /* ... Logo and Text  Section.....*/

 /* ... Mobile SearchIcons Section.....*/

.btn-icons{

    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    gap: 1.8rem;
    cursor: pointer;
    transform: translateY(
    .4rem);
}


.search-icon{

    font-size: 2.1rem;
}

 /* ....Mobile SearchIcons Section.....*/

 /* .....Mobile MenuIcons Section.....*/

.hambugger{
    width:1.5rem;
    height: 2rem;
    border-bottom:.2rem solid  #213547;
    display: flex;
    justify-content: center;
    position: relative;
    top: -3.5vh;
  
}


.hambugger::after {
    content: "";
    width: 55%;
    height: 100%;
    position: absolute;
    top: 2.4rem;
    right: 0;
    border-top:.2rem solid  #213547;
}
.hambugger:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2.4rem;
    right: 0;
    border-top:.2rem solid  #213547;
}


.hambugger::before{

    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: 3rem;
    right: 0;
    border-top:.2rem solid  #213547;

}
.hambugger:hover::before{

    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 3rem;
    right: 0;
    border-top:.2rem solid  #213547;

}


.bar{
    font-size: 2.2rem;
    color: #213547;
    font-weight: 600;
    text-align: center;
    transform: translateX(.4rem);
    cursor: pointer;
   
   
}

.lang{
    z-index: 1;
}


.mobilemenu-container{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-bottom: 1.5rem;
    margin-top: 6.6rem;
    
    
}

 /* ... Mobile MenuIcons Section.....*/

 /* ... large Screen Navbar Property Disable..*/

 .search-button-large, 
 .large-navlist-container, 
 .large-menu-icon, .lang, .XLangdarksocial, .resource-container{
    display: none;
 }

/* ...large Screen Navbar Property Disable..*/


@media screen and (min-width:360px) {

    .btn-icons{

        transform: translateY(
        .2rem);
    }
    
    .hambugger{
        
        top: -2.5vh;
      
    }

    .searchIcon{

        position: absolute;
        top:2.8rem;
        left:2rem;
       
    }
}
@media screen and (min-width:375px) {

    .btn-icons{

        transform: translateY(
        .2rem);
    }
    
    .hambugger{
        
        top: -2.8vh;
      
    }


    .searchIcon{

        position: absolute;
        top:2.5rem;
        left:2.4rem;
       
    }
}
@media screen and (min-width:390px) {

    .btn-icons{

        transform: translateY(
        .2rem);
    }
    
    .hambugger{
        
        top: -2.25vh;
      
    }

    input{

        width: 75vw;
        min-height: 7vh;
    }

    .searchIcon{

        position: absolute;
        top:2.4rem;
        left:2.4rem;
       
    }
 
}
@media screen and (min-width:393px) {

    .btn-icons{

        transform: translateY(
        .2rem);
    }
    
    .hambugger{
        
        top: -2.19vh;
      
    }

    .searchIcon{

        position: absolute;
        top:2.4rem;
        left:2.4rem;
       
    }
}
@media screen and (min-width:412px) {

    .btn-icons{

        transform: translateY(
        .2rem);
    }
    
    .hambugger{
        
        top: -2.15vh;
      
    }

    input{

        width: 75vw;
        min-height: 7vh;
    }

    .searchIcon{

        position: absolute;
        top:2.6rem;
        left:2.4rem;
       
    }
}

@media screen and (min-width:500px) {
    
    
    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .7rem;
    
        
    }
    
    .logo-container h2{
        font-size: 1.8rem;
        font-weight: 500;
    }
    
    
    .btn-icons{
    
        display: flex;
        align-items: center;
        justify-content: center;
        float: center;
        gap: 1.8rem;
        cursor: pointer;
    }
    
    
    .search-icon{
    
        font-size: 2.1rem;
    }
    
    .hambugger{
        width:1.5rem;
        height: 2rem;
        border-bottom:.2rem solid  #213547;
        display: flex;
        justify-content: center;
        position: relative;
        top: -2.8vh;
      
    }
    

}
    

@media screen and (min-width:769px) {

   

/* ......Large screen NavList section........*/


    .navbar{

        width: 95vw;
        margin: 0 auto;
        padding:1rem;
        display: flex;
        align-items: center;

    }

    .logo-container{
        
        padding-right: 2rem;
       
    }
    

    /* ...Some mobile Screen NavList Property Disable..*/

    .btn-icons{
        display: none;
    }


    /* ...Some mobile Screen NavList Property Disable..*/

    /* ......Large screen NavList Search Button section........*/
   

    .search-button-large, .lang{
        display: block;
    }

    .search-button-large .bttnsearch{

        background: #f5f5f5af;
        padding: .8rem 1.6rem;
        border: none;
        border-radius: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
       
    }

    .bttnsearch:hover{
        border: .15rem solid var(--btn-Color);
    }
    .searchicon{

        font-size: 1.6rem;
        padding-right: .8rem;
    }

    .searchtext{
        font-size: 1.4rem;
        padding-right: 1rem;
        font-weight: 400;
        color: grey;
    }
    .ctrl{
        width: fit-content;
        border: .1rem solid rgba(128, 128, 128, 0.452);
        padding:.25rem .9rem;
        border-radius:.5rem;
        font-size: 1.35rem;
        
    }

    /* ......Large screen NavList Search Button section........*/


    .large-navlist-container{
        display:flex;
        align-items: center;
        justify-content: right;
        flex: 2;
        padding: 1.2rem 0;
       
    }

    .large-navlist-container .large-navlinks-wrapper{

        display: flex;
        justify-content: center;
        gap:2.4rem;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;
        color: #6F3949;
        cursor: pointer;
    
    }

  
    .large-navlist-container .large-navlinks-wrapper .large-links{

        border: none;
        width: 100%;
       
        
    }

    .large-links a:hover{

        color: var(--btn-Color);
    }

    .plus{
        padding-left: 0;
        display: none;
    }

    .arrowdown{
      
        font-size: 1.8rem;
        margin-top: .5rem;
            
    }

    .hoverLink{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .1rem;
    }


    /* ......Large screen NavList Menu-Bar-Icon section........*/

    .large-menu-icon{

        font-size: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-left: 2rem;
        
        
    }

     /* ......Large screen NavList Menu-Bar-Icon section........*/

    /* ......Large screen NavList section........*/


     /* ......Large screen NavList Hover section........*/

    .resource-container{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 2.5rem;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        width: fit-content;
        padding: 2rem 3rem;
        margin-top: 9vh;
        margin-right: 17rem;
        box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -webkit-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -moz-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        border-radius: 1.5rem;

    }
    .resource-container ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        transform: translateX(-1.2rem);
        
    }

    .resource-container li{
        display: block;
        display: flex;
        align-items: left;
        width: 100%;
        padding: .7rem 1rem;
        font-size: 1.3rem;
        font-weight: 500;
        position: relative;
       
    }

    .resource-container li a:hover::after{
        content: "";
        background: rgba(128, 128, 128, 0.212);
        border-radius: .5rem;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 4rem;
        transition: all .6s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--btn-Color);
        
    }

    .resource-container li a:hover{
        color: var(--btn-Color);
    }

    .versions-container{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 2.5rem;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        width: fit-content;
        padding: 2rem 3rem;
        margin-top: 9vh;
        margin-right:7rem;
        box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -webkit-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -moz-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        border-radius: 1.5rem;

    }
    .versions-container ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        transform: translateX(-2rem);
       
    }
    .versions-container li{
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        padding: .7rem 1rem;
        font-size: 1.3rem;
        font-weight: 500;
        position: relative;
    }


    .versions-container li a:hover::after{
        content: "";
        background: rgba(128, 128, 128, 0.212);
        border-radius: .5rem;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 4rem;
        transition: all .6s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--btn-Color);
        

    }

    .versions-container li a:hover{
        color: var(--btn-Color);
    }
   

     /* ......Large screen NavList Hover section........*/

     /* ...... End of Large screen NavList section........*/
}

@media only screen and (min-width: 960px) {

    header{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.76);
        overflow: hidden;
        position: fixed;
        z-index: 999;
    
    
    }
    nav{
        border: none;
        z-index: -999;
    }

   


    .resource-container{
       
        margin-right: 15rem;
    }

    .versions-container{
       
        margin-right: 6rem;
    }
}


@media screen and (min-width:1280px) {

    .navbar{

        width: 95vw;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 1rem;
    
    }

    .logo-container{
        
        padding-right: 3rem;
       
    }

   

    .large-navlist{
        padding-right: 1.5rem;
        flex: 4;
    }

    
    .large-menu-icon{
        display: none;
    }


    .resource-container{
        margin-right: 43rem;
    }
    .versions-container{
        margin-right: 33rem;
    }


 .XLangdarksocial{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 3rem;
 }


 .XLangdarksocial .language{
        
       border: none;
       position: relative;
      /* padding-left: 2.7rem;
      padding-right: 4rem;
      padding-right:0; */
      display: flex;
      width: fit-content;
      padding: 0 .4rem;
      cursor: pointer;
    
   
       
    }


    .language::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-left: .18rem solid  #0000001c;
        margin-left: -1rem;
        
    }
    .language::before{
        content: "";
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        border-right: .18rem solid  #0000001c;
        margin-left: 1rem;
       
    }
  

    .XLangdarksocial .otherLanguage-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        width: fit-content;
        padding: 2rem 3rem;
        margin-top: 9vh;
        margin-right: 23rem;
        box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -webkit-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -moz-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        border-radius: 1.5rem;
        padding-left: 1rem;
        
      
      
    }

    .XLangdarksocial .otherslanguage{
      font-size: 1.3rem;
      font-weight: 600;
      transform: translateX(-2.5rem);
      height: 100%;
      width: 100%;
      padding: .8rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--btn-Color);
      z-index: 999;
     
      
      
    }
    .XLangdarksocial .otherslanguage p:hover::before{

        content: "";
        background: rgba(128, 128, 128, 0.212);
        border-radius: .5rem;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 4rem;
        transition: all .6s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--btn-Color);
        margin-left: 1rem;
      
    }

    .XLangdarksocial .otherslanguage p:hover{
        color: var(--btn-Color);
     
    }

    .XLangdarksocial .darkmodebtn{
        position: relative;
    }

    .darkmodebtn::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-right: .18rem solid  #0000001c;
        margin-left: 2rem;
        
    }


    .XLangdarksocial .social-media{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      font-size: 2rem;
      padding-top: .75rem;
      padding-left:1rem;
        
    }
   
    
} 