/* ............Search Section........... */

.search-container{

    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    overflow: hidden;
}

.search-wrapper{

    width: 95vw;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form{

    display: flex;
    justify-content: space-between;
}

input{

    width: 100%;
    min-height: 9vh;
    border-radius: .5rem;
    border: .19rem solid var(--btn-Color);
    position: relative;
    letter-spacing: .1rem;
    font-size: 1.9rem;
    color: #79797c91;
    padding-left: 5rem;
    font-weight: 100;
    padding-right: 1.4rem;
}

.search-btn{
    background: transparent;
    border: none;
    color: var(--btn-Color);
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
    
}


.searchIcon{

    position: absolute;
    top:0;
    left:0;
    font-size:2.7rem ;
    font-weight: 100;
    color: var(--btn-Color);
    margin-top: 2.2rem;
    margin-left: 2.8rem;
}

/* ............End Search Section........... */


@media screen and (min-width:360px) {
    input{

        width: 100%;
        min-height: 8vh;
    }
    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
        margin-top: 2.5rem;
        margin-left: 2.8rem;
    }
}


@media screen and (min-width:390px) {
    input{

        width: 100%;
        min-height: 8vh;
    }
    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
        margin-top: 2.8rem;
        margin-left: 2.5rem;
    }
}

@media screen and (min-width:412px) {
    input{

        width: 100%;
        min-height: 7.5vh;
    }
    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
        margin-top: 2.7rem;
        margin-left: 2.5rem;
    }
}

@media screen and (min-width:500px) {
    input{

        width: 82vw;
        min-height: 10vh;
        border-radius: .5rem;
        border: .19rem solid var(--btn-Color);
        position: relative;
        letter-spacing: .1rem;
        font-size: 1.9rem;
        color: #79797c91;
        padding-left: 5rem;
        font-weight: 100;
        padding-right: 1.4rem;
    }

    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
        margin-left:2.6rem;
        margin-top :2.8rem;
    }
}


@media screen and (min-width:600px) {

    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
        margin-left:3rem;
        margin-top:2.8rem ;
    }

}
@media screen and (min-width:700px) {

    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
        margin-left:3rem;
        margin-top:2.85rem ;
    }

}


@media screen and (min-width:769px) {

    .search-container{

        width: 100vw;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(130, 137, 157, 0.918);
        overflow: hidden;
    }

    .search-wrapper{

        width: 95vw;
        margin: 0 auto;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
    }


    .search-content-container{

        background: #fff;
        width:fit-content;
        height: 33vh;
        border-radius: .8rem;
        display: flex;
        align-items: top;
        justify-content: center;
        padding: 1.4rem;
        position: relative;
        box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -webkit-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        -moz-box-shadow: -1px 0px 55px -21px rgba(0,0,0,0.29);
        border-radius: 1.5rem;

    }

    input{

        width: 50rem;
    }

    .search-btn{
        display: none;
    }

    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
        margin-top: 3rem;
        margin-left: 2.8rem;
    }
}



@media screen and (min-width:1280px) {

    .searchIcon{

        position: absolute;
        top:0;
        left:0;
        font-size:2.7rem ;
        font-weight: 100;
        color: var(--btn-Color);
    }

}